extends main
block content
  //- each val in tweets
  //-   p= val
  //- p #{tweets}
  each val, index in tweets
    p= index+1
    p= val
    a(href=`${val.urls[0]}`) link
    //- a(href=`${val.urls}`) #{val.full_text}
    
//- <a href="https://www.mozilla.com/"> External Link</a>

    //- code...
